@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&family=Mulish:wght@200;300;400;500;700&family=Noto+Sans+Arabic:wght@300;400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    font-family:'Roboto', sans-serif;
}

#input-location {
    margin-bottom: 20px;
    border-radius: 10px;
    height: 40px;
    width: 90%;
}

.card-body {
    font-family: "roboto";
}

.card-title {
    font-family: 'poppins';
    font-size: 25px;
    font-weight: bold;
}
#list-resto {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto
}
.container {
    display: flex;
}

ul {
    list-style: none;
}

.menu .container {
    flex-direction: row;
}

.card .container {
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    /* max-width: 15rem; */
    min-width: 13rem;
}

.menu-image {
    width: 360px;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
}

.menu-image img {
    width: 240px;
    /* height: auto */
}

li > ul {
    display: flex;
    flex-basis: 10px;
    justify-content: space-between;
    padding:0;
}

.nama-resto{
    height: 46px;
    color: black;
    font-family: 'poppins', sans-serif;

}

.resto-pilihan {
    font-size: 15px;
    color: #5a98ce;
}

.nama-resto {
    font-weight: bold;
    font-size: 20px
}

.category, .bottom-card{
    color: rgb(134, 134, 134);
}

.container .bottom-container {
    margin: 0;
}

.card {
    object-fit: contain;
}

/* .card .card-img {
    width: 150px;
    height: 150px
} */

.card .container ul {
    padding: 0px;
}

.card.container:hover {
    scale: 1.03;
    transition: all 0.3s;
}

.card .container li {
    padding: 5px 0px;
    margin-top: 5px;
}

.container ul {
    margin: 0 0 16px;
    
}
.card .container .category {
    margin-top: 16px
}

.grid-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: space-evenly;
}

.grid-section img {
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.grid-container:hover {
    scale: 1.02;
    transition: 0.3s;
}

.formatting {
    display: flex;
    margin-top: 14px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    /* color: rgb(134, 134, 134) */
}

/* ------ File CSS Faza Start --------*/

body {
    margin: 0;
    padding : 0
  }
  
.banner img {
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: rgb(216, 216, 243);
    /* position: relative; */
    max-width: 100%;
    /* height: 500px; */
    object-fit: cover;
}
  
.banner .card img{
    object-fit: cover;
    max-height: 30rem;
}
  
.banner .content {
    background-color:  black;
    display: flex;
    width: 100px;
    height: 130px;
    align-items: center;
    /* margin-top: 28px; */
}
  
a {
    margin-top: 8px;
    align-items: center;
}
  
.ant-layout {
    margin-top: 3rem;
    margin-left: 6.5rem
}
  
.coloredText {
    color: #5a98ce;
}
  
.border {
    border-top: 2px solid grey;
    margin-top: 3rem;
}
  
.container {
    /* margin-top: 2rem; */
    color: grey;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #7ED7C1;
}
  
.btn-showMore {
    width: 81rem;
    height: 3rem;
    background-color: white;
    color : gray;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em
  
}
  
.btn-showMore:hover {
    color: #5a98ce;
    border-color: #3673a9;
    scale: 1.01;
    transition: all 0.25s;
}

#navbarNavDropdown {
    justify-content: flex-end;
    margin-right: 10rem;
}

.navbar-brand {
    margin-left: 10rem;
}

.nav-item {
    margin-right: 1rem
}

span {
    font-family: 'Poppins', sans-serif;
}
  /* ------- File CSS Faza End ------- */

/* =====CSS UNTUK CARD MAKANAN MINUMAN===== */
#food-container, #drink-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-left: 50px;
}
#list-food h1, #list-drink h1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 30px;

}

.food-container {
    display: flex;
    flex-direction: row;
}

.menu-card.menu-container {
    display: inline-flex;
    padding: 10px;
    width: 400px;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #d9d9d9;
}

.menu-card.menu-container:hover {
    /* width: 408px;
    height: 245px; */
    scale:1.03;
    transition: all 0.3s;
}

.catalog {
    display: flex;
    flex-basis: 300px;
}

.catalog-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.add-button button {
    background-color: #5a98ce;
    border-radius: 50%;
    color: white;
    border: white;
    width: 50px;
    height: 50px;;
}

.add-button button:hover {
    scale: 1.1;
    transition: all 0.3s;
}

.add-button {
    display: flex;
    justify-self: flex-end;
}

.catalog-name {
    color: black;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.catalog-description {
    font-size: 12px;
}

.catalog-price {
    color: #3577b0;
    font-weight: bold;
    font-size: 18px;
}

.catalog.container {
    margin: 0px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.side-container {
    width: 200px;
}

.side-points {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    gap: 10px;
}

/* ======BUTTON GO SOMEWHERE */
#goSomewhere {
    background-color: #3577b0;
    font-family: 'poppins';
    justify-content: center;
    align-items: center;
}

#goSomewhere:hover {
    scale: 1.02;
    transition: all 0.2s;

}

.card-flex {
    display: flex;
    flex-direction: column;
}

.container ul {
    margin: 0 0 16px;
    
}
.card .container .category {
    margin-top: 16px
}

.grid-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: space-evenly;
}

.grid-section img {
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

/* .grid-container {
    justify-content: space-evenly
} */

.formatting {
    display: flex;
    margin-top: 14px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* color: rgb(134, 134, 134) */
}

/* ------ File CSS Faza Start --------*/

body {
    height: 2500px;
    margin: 0;
    padding : 0
  }
  
.banner img {
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: rgb(216, 216, 243);
    /* position: relative; */
    max-width: 100%;
    /* height: 500px; */
    object-fit: cover;
}
  
.banner .card img{
    object-fit: cover;
    max-height: 30rem;
}
  
.banner .content {
    background-color:  black;
    display: flex;
    width: 100px;
    height: 130px;
    align-items: center;
    /* margin-top: 28px; */
}
  
a {
    margin-top: 8px;
    align-items: center;
}
  
.ant-layout {
    margin-top: 3rem;
    margin-left: 6.5rem
}
  
.border {
    border-top: 2px solid grey;
    margin-top: 3rem;
}

.border3 {
    border: 1px solid black;
    margin-left: 7rem;
    margin-top: 1rem;
}
  
.container {
    /* margin-top: 2rem; */
    color: grey;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: red;
}
  
.btn-showMore {
    width: 81rem;
    height: 3rem;
    background-color: white;
    color : gray;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em
  
}
  
.btn-showMore:hover {
    color: rgb(26, 240, 26);
    border-color:rgb(26, 240, 26);
    transition: all 0.25s;
}

.navbar {
    background-color: white;
}

.navbar.scrolled {
    background: black;
    transition: all 250ms
}

#navbarNavDropdown {
    justify-content: flex-end;
    margin-right: 10rem;
}

.navbar-brand {
    margin-left: 10rem;
}

.navbar-brand a {
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    margin-right: 1rem
}

span {
    font-family: 'Poppins', sans-serif;
}



.foot-container {
    background-color: rgb(34, 34, 52);
}

.iklan {
    margin-left: 7rem;
    color: white;
}

.iklan h5 {
    margin-left: 7rem;
}

.status {
    margin-left: 7rem;
    color: rgb(212, 212, 212);
    display: flex;
}



.judulFooter {
    margin-left: 7rem;
    color: rgb(212, 212, 212);
}

.list-country {
    margin-left: 4.7%;
    display: flex;
    justify-content: flex-start;
}
.border3 {
    border-style: solid;
    margin-right: 7rem;
    margin-bottom: 2rem;
    opacity: 20%;
}
.list-QnA {
    margin-left: -16rem;
}
.list-QnA h5 ul{
    display: flex;
}
.list-QnA h5 ul li {
    margin-left: 14rem;
}

.list-country li {
    margin-left: 9px;
    color: white;
}

.list-country li a {
    color: white;
    text-decoration: none;
}

.sosmedIcon ul {
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 7rem;
}

.sosmedIcon ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.footer2 {
    background-color: rgb(228, 228, 228);

}

.footer2 .title-iklan {
    margin-left: 7rem;
    margin-top: 4rem;
    padding-top: 20px;
}


.QnA-card .QnA-card1{
    margin-left: -16rem;
    /* margin-bottom: 3rem; */
    justify-content: space-evenly;
    display: flex;
}

.container-fluid .navbar-brand {
    color: white;
}

.navbar-nav .nav-item :hover {
    color: white;
}

  /* ------- File CSS Faza End ------- */

/* =====PLACEHOLDER CART===== */

.sidebar{
/* .sidebar{
    width: 40%;
    border-radius: 5px;
    /* background-color: #eee; */
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: #5B97CD;
    border-radius: 10px;
    height: 50px;
    width: 1250px;
    margin-bottom: 20px;
    margin-left: 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-count {
    display: flex;
    align-self: center;
    margin-top: 10px;
    gap: 10px;
    font-family: 'roboto'
}

.head p {
    margin-bottom: 0px;
    font-family: 'poppins';
    size: 50px;
    font-weight: bold;
}


.foot{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
    padding: 10px 0px;
}

.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.rowimg{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    visibility: hidden;
    display: none;
}
.row-img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #3577b0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.card-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.checkout-name {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    size: 30px;
}

.checkout-price {
    font-size: 18px;
    margin-left: 20px;
}

.remove-button {
    display: block;
    border-radius: 10px;
    font-family: 'poppins';
    background-color: #5B97CD;
    border: none;
    color: white;
    size: 12px;
    justify-self: center;
    width: 50%;
    align-self: center;
    height: 35px;
}

#total {
    font-family: 'poppins';
    font-weight: bold;
}

.foot h3 {
    font-family: 'poppins';
    margin-left: 70px;
}

#count {
    margin-bottom: 10px;
}

.fa-cart-shopping {
    margin-top: 3px;
}

.cart-title {
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.none {
    display: none;
}

#input-location {
    width: auto;
    padding-left: 1rem;
}

.navbar-brand img {
    width: 170px;
    height: 50px;
    object-fit: contain;
}

.nav-item a {
    color:black
}

a:hover {
    color: rgb(92, 91, 91) !important;
}

/* xx */

