@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&family=Mulish:wght@200;300;400;500;700&family=Noto+Sans+Arabic:wght@300;400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#list-resto {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto
}
.container {
    display: flex;
}

ul {
    list-style: none;
}

.menu .container {
    flex-direction: row;
}

.card .container {
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    /* max-width: 15rem; */
    min-width: 13rem;
}

.menu-image {
    width: 360px;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
}

.menu-image img {
    width: 240px;
    /* height: auto */
}

li > ul {
    display: flex;
    flex-basis: 10px;
    justify-content: space-between;
    padding:0;
}

.nama-resto{
    height: 46px;

}

.resto-pilihan {
    font-size: 15px;
    color: #01B04E;
}

.nama-resto {
    font-weight: bold;
    font-size: 20px
}

.category, .bottom-card{
    color: rgb(134, 134, 134);
}

.container .bottom-container {
    margin: 0;
}

.none {
    display: none;
}

.card {
    object-fit: contain;
}

/* .card .card-img {
    width: 150px;
    height: 150px
} */

.card .container ul {
    padding: 0px;
}

.card .container li {
    padding: 5px 0px;
    margin-top: 5px;
}

.container ul {
    margin: 0 0 16px;
    
}
.card .container .category {
    margin-top: 16px
}

.grid-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: space-evenly;
}

.grid-section img {
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

/* .grid-container {
    justify-content: space-evenly
} */

.formatting {
    display: flex;
    margin-top: 14px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* color: rgb(134, 134, 134) */
}

/* ------ File CSS Faza Start --------*/

body {
    height: 2500px;
    margin: 0;
    padding : 0
  }
  
.banner img {
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: rgb(216, 216, 243);
    /* position: relative; */
    max-width: 100%;
    /* height: 500px; */
    object-fit: cover;
}
  
.banner .card img{
    object-fit: cover;
    max-height: 30rem;
}
  
.banner .content {
    background-color:  black;
    display: flex;
    width: 100px;
    height: 130px;
    align-items: center;
    /* margin-top: 28px; */
}
  
a {
    margin-top: 8px;
    align-items: center;
}
  
.ant-layout {
    margin-top: 3rem;
    margin-left: 6.5rem
}
  
.coloredText {
    color: green;
}
  
.border {
    border-top: 2px solid grey;
    margin-top: 3rem;
}
  
.container {
    /* margin-top: 2rem; */
    color: grey;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: red;
}
  
.btn-showMore {
    width: 81rem;
    height: 3rem;
    background-color: white;
    color : gray;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em
  
}
  
.btn-showMore:hover {
    color: green;
    border-color: green;
    transition: all 0.25s;
}

.navbar {
    background-color: #556666;
}

#navbarNavDropdown {
    justify-content: flex-end;
    margin-right: 10rem;
}

.navbar-brand {
    margin-left: 10rem;
}

.nav-item {
    margin-right: 1rem
}

span {
    font-family: 'Poppins', sans-serif;
}
  /* ------- File CSS Faza End ------- */

/* =====PLACEHOLDER CART===== */
/* .sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: goldenrod;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
} */
