body {
    height: 10000px;
    margin: 0;
    padding : 0
  }
  
  .logoBoss {
    color: red;
  }
  
  .banner .card img {
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: rgb(216, 216, 243);
    /* position: relative; */
    max-width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .banner {
    height: 10rem
  }
  
  
  
  .banner .content {
    background-color:  black;
    display: flex;
    width: 100px;
    height: 130px;
    align-items: center;
    /* margin-top: 28px; */
  }
  
  a {
    margin-top: 8px;
    align-items: center;
  }
  
  .ant-layout {
    margin-top: 20px;
  }
  
  .coloredText {
    color: red;
  }
  
  .border {
    border-top: 10px solid grey;
    margin-top: 3rem;
  }
  
  .container {
    margin-top: 2rem;
    color: grey;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: red;
  }
  
  .btn-showMore {
    width: 76rem;
    height: 3rem;
    background-color: white;
    color : gray;
    border-radius: 10px;
  
  }
  
  .btn-showMore:hover {
    color: red;
    border-color: red;
  }
  
  
  .col {
    width: 10rem;
    height: 9rem;
  }

  .footer {
    width: 100%;
    height: 36rem;
    background-color:rgb(218, 216, 216);
  }

  .borderFoot {
    border-top: 7px solid rgb(218, 216, 216);
    margin-top: 1rem;
  }